<launch> 
 <arg name="map_file" default="$(find catbot)/maps/zc_hall.yaml"/>
 <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen" respawn="false">
    <param name="frame_id" value="odom" />
  </node>
<include file="$(find catbot)/launch/move_base_A_star_zc.launch"/>
 <node name="watcher_A_star" pkg="catbot" type="watcher_A_star" output = "screen"/>
<node name="goal_publisher_A_star" pkg="catbot" type="goal_publisher_A_star" args="-9 2 0" output = "screen"/>
</launch>
